# installed via local file due to hash issue
# torch

# python packages
numpy
matplotlib

# jupyter notebook
ipykernel
nbconvert
trame
ipywidgets

# sphinx packages
# sphinx_copybutton
# myst_parser
# furo